*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



.main_container{
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/police.jpg");
    background-size: contain;
    background-position: 60% ,50% ;
    position: relative;
}

.card{
    width: 900px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}

.inner_card_left{
    width: 50%;
    height: 200px;
    border: 1px solid  black;
    float: left;
    overflow:hidden;
    border-radius: 15px;
}



.inner_card_right{
    
    width: 49%;
    height: 200px;
    border: 1px solid  #689b1b;
    float: right;
    border-radius: 15px;
}

.input_div{
    position: relative;
    left: 85px;
    top: 55px;
    
}

.input_div, p , input {
margin-top: 10px;

}

.input_div, input{
    margin-left: 10px;;
}

#input_velo{
    border-radius: 10px;
    padding: 13px;
    border: none;
    left: 10px;
}

#msg{
    color: white;
    position: relative;
    max-width: 50%;
    left: 95px;
    top: 20px;
    transition: 0.5s;
    padding: 15px;
}

