*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-container{
    background-color: grey;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.container{
    width: 95vmin ;
    height: 300px;
    position: absolute;
    border: 1px solid magenta;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;

}

.cadeiras{
    width: 80vmin;
    padding: 10px;
    border: 1px solid blue;
    display: block;
    margin-left: 97px;
}


.btn{
    width: 65px;
    height: 65px;
    background-image: url(../assets/chain.png);
    margin: 0 auto ;
}


.ocupado{
    width: 65px;
    height: 65px;
    background-image: url(../assets/chain-booking.png);
}
